/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Work Sans', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color:rgb(46, 46, 46);
    width:97vw;
    height:95vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
canvas{
    position:absolute;
    top:0;
    left:0;
    z-index: -10000;
}

#wrap-body{
    position:absolute;
    top:0;
    left:0;
    width:97vw;
    height:97vh;
    padding: 1.5vw 0 0 1.5vw;
}
.menu-item{
    float:left;
    display:block;
    width:100%;
    padding: 0.5vw 0 0;
    z-index: 1;

}

.menu-item p{
    transition:transform 0.5s;
    float:left;
    color:#ffffff;

}
.rot{
    transform:rotate(90deg);
}
#line{
    color:#ffffff;
    font-weight:400;
    font-size:110%;
}
.menu{
    width:25%;
    z-index: 1;
}
.level1, .level2,.level3,.level4{
padding-left:10%;
}
.bullet{
    font-size: 120%;
    font-weight:400;
}
.label{
    padding: 1px 0 0 1%;
    font-weight:300;
    z-index: 1;
}