*{
    font-family: 'Work Sans', sans-serif;
    margin: 0 0 0 0;
}
h1{
    font-weight: 300;
}
.menu-item{
    float:left;
    display:block;
    width:100%;

}
.menu-item p{
    transition:transform 0.5s;
    float:left;

}
.rot{
    transform:rotate(90deg);
}
nav{
    width:25%;
}
.level1, .level2,.level3,.level4{
padding-left:10%;
}
.bullet{
    font-size: 150%;
}
.label{
    padding: 2% 0 0 5%;
}